
    <div class="container">
      <div class="row">
       
        <div style="width:100%" >


            <h4>Add Course</h4>

            <form  #courseForm = "ngForm" (ngSubmit) = "onSubmit()" novalidate>    
      
                <div class="form-group">
                  
                  <input type="text" class="form-control" name="title" [(ngModel)] ="courseModel.title">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form> 
         
              <hr>
            <div class="container">
      <div class="row"  >
        <div class="col-sm-4" *ngFor = "let course of courses">
          <h4 (click) ="onSelect(course)">{{course.title}}</h4>
          
        </div>
        
      </div>
    </div>  

            

            

           
        </div>
        
      </div>
    </div> 
    


 
    

