<div class="container" >
  <div class="row">

        <div style="width:100%">
            <a href="" (click) ="resetForm()" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
              <a  routerLink="/course"><b>Go Back </b></a>&nbsp;&nbsp;
                <i class="fa fa-plus" aria-hidden="true" ></i>Topics</a>
                <select name="" id="" class="form-control" (change)="onChange(this,$event.target.value)">
                  <option value="*">All</option>
                  <option value="5">Imp</option>
                  <option value="1">Avg</option>
                </select>
                <br>
                <form *ngIf="isForm" [formGroup] = "topicForm" (ngSubmit) = "onSubmit()" novalidate>    
                  <i class="fa fa-plus" aria-hidden="true" (click)="addMeta()">Desc</i>
            <div class="form-group">
              <label for="heading">Title:</label>
              <input type="text" class="form-control"  formControlName = "title">
            </div>
  
            <div class="form-group">
              <label for="subHeading">About:</label>
              <textarea type="text" class="form-control"  formControlName = "about"></textarea>          
            </div>
            <div formArrayName="meta">
    
            <div *ngFor="let meta of metaForms.controls; let i=index" 
                [formGroupName]="i">
                <div class="form-group">
                    <label for="subHeading">Heading:</label>      
                  <input formControlName="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="subHeading">Detail:</label>
              <textarea formControlName="desc" class="form-control"></textarea>
            </div>
              <div (click)="deleteMeta(i)">Delete</div>
          </div>
      </div>
    
      
        <button type="submit" class="btn btn-primary">Submit</button>
          </form>  

                <div  id="container" *ngFor = "let row of courseDetail" >

                  

 
                    <div>
                        <div><a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm" (click) ="edit(row)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <b>{{row.title}}</b></div>
                        
                        
                    </div>
                    
                    
                    <section style="text-align: left" [innerHTML]=row.about></section>
                    
                   
                    <div *ngFor = "let m of row.meta">
                      <p><b>{{m.title}}</b></p>
                      <p style="text-align: left" [innerHTML]=m.desc></p>
                    </div>
          
                <hr>    
                    
                </div>


                <div class="alert alert-success"  *ngIf="isSubmit">{{isSubmit}}</div>
                    
          
         

          


          </div>




          <div style = "clear: both"></div>


           <div class="row"  style="text-align: left;">
              <div class="col-sm-4" *ngFor = "let topic of topicLists">
                  <i class="fa fa-star" [style.color] = "topic.imp ? 'red' : 'lightgrey'"  aria-hidden="true" (click) = "imp(topic)"></i>
                  &nbsp;&nbsp;  
                  <i class="fa fa-trash" aria-hidden="true" (click) = "delete(topic)"></i>&nbsp;&nbsp;

                  <a   href="#container" [style.color] = "topic.dataIsthere ? 'green' : ''" (click) ="onSelect(topic)">{{topic.title}}</a>
                
              </div>
              
            </div>  

             
        
        
  </div>
</div>
    




  


          

