$color: black;


section{
    line-height: 2;
    color:$color;
}

b{
    font-size: 2.07692308rem;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
    
}
p{
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    
    font-size: 1.1rem;
    font-weight: 180;
    line-height: 1.425;
    

}
p b{
    color:black;
    border-bottom: 2px solid;
}

.pre{
    border:1px solid red !important;
}

 
.preBox{
    width: 100%;
      margin-bottom: 8px;
      font-family: verdana;
      padding-left: 0;
      border-left: 4px solid #6b5;
      -moz-box-shadow: 6px 3px 8px #d4d4d4;
      -webkit-box-shadow: 6px 3px 8px #d4d4d4;
      box-shadow: 6px 3px 8px #d4d4d4;
}

#container{
    padding: 2%;
    border:1px solid black;
}