<ul style="width:30%;border:1px solid grey" *ngFor = "let hook of hooks" >
          
  <li>                        
     {{hook}}
  </li>
  
</ul>
<p>
  hook is working here
</p>
<input type="text" [(ngModel)]="joke">


