<div class="login-page">
    <div class="form">
      <form class="register-form" >
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      
      <form class="login-form" [formGroup] = "loginForm" (ngSubmit) = "onSubmit()" novalidate>
        <input type="text" [class.is-invalid] = "loginForm.get('username').invalid && loginForm.get('username').touched" placeholder="username" formControlName = "username">
        <small [class.danger.none] = "loginForm.get('username').valid || loginForm.get('username').untouched">username is required</small>
        <input type="password"  [class.is-invalid] = "loginForm.get('password').invalid && loginForm.get('password').touched" placeholder="password" formControlName = "password">
        <button>login</button>
        {{loginForm.value | json}}
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
<p id ="test">click</p>

  <script>
    $('#test').click(function(){
    alert()
 });
  $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
 });
</script>